<div class="wrap-profile">
    <div class="container">
        <div class="card">
            <div class="profile">
                <img src="~/images/LHux92U7KM4.jpg">
            </div>

            <div class="info">
                <h1 class="name">Арапов Никита</h1>
                Занимаюсь программированием игр, созданием
                приложений как на Android так и на Windows
                (.NET). Имеются базовые знания C++,
                HTML, JS, PHP, MySQL, Python, Java,
                C#. Знания ООП и
                основных паттернов проектирования.
                Опыт работы с OpenGL, Unity, Qt, ASP .NET Core,
                Entity Framework, WPF.
                <br>
                <br>
                <a asp-controller="home" asp-action="projects">
                    Страница с проектами
                </a>
                <div class="contacts">
                    <div class="contact">
                        <a href="https://vk.com/id343169718">
                            <img src="~/icons/vkround.png">
                        </a>
                    </div>
                    <div class="contact">
                        <a href="https://github.com/nobodysays/">
                            <img src="~/icons/githubround.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
