<div class="wrapper">
    @*<div class="container">
        <div class="card">
            <div class="profile">
                <img src="~/images/LHux92U7KM4.jpg">
            </div>

            <div class="info">
                <h1 class="name">Арапов Никита</h1>

                Занимаюсь программированием игр, созданием
                приложений как на Android так и на Windows
                (.NET). Имеются базовые знания C++,
                HTML, JS, PHP, MySQL, Python, Java,
                C#. Знания ООП и
                основных паттернов проектирования.
                Опыт работы с OpenGL, Unity, Qt, ASP .NET Core,
                Entity Framework, WPF.
          

                <div class="contacts">
                    <div class="contact">
                        <a href="https://github.com/nobodysays/">
                            <img src="~/icons/githubround.png">
                        </a>
                    </div>
                    <div class="contact">
                        <a href="https://vk.com/id343169718">
                            <img src="~/icons/vkround.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
    
    <div class="container">
        <div class="card">
            <div class="profile">
                <img src="~/images/quickarrow.jpg">
            </div>

            <div class="info">
                <h1 class="name">Quick Arrow (2021)</h1>

                Бесконечный раннер. В проекте применяется подход
                разбиения проекта на слои

                <div class="contacts">
                    <div class="contact">
                        <a href="https://github.com/nobodysays/QuickArrow">
                            <img src="~/icons/githubround.png">
                        </a>
                    </div>
                    <div class="contact">
                        <a href="/home/records/quickarrow">
                            <img src="~/icons/tablerounded.png">
                        </a>
                    </div>
                    <div class="contact">
                        <a href="~/executables/QuickArrowBuildDev.rar" download="QuickArrowBuildDev.rar">
                            <img src="~/icons/download.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="profile">
                <img src="~/images/blog.jpg">
            </div>

            <div class="info">
                <h1 class="name">Blog (2020)</h1>

                Простой сайт для выкладывания постов. Разработан при помощи
                ASP .NET Core, Entity Framework Core


            </div>
            <div class="contacts">
                <div class="contact">
                    <a href="https://github.com/nobodysays/BlogAspNetCore">
                        <img src="~/icons/githubround.png">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="profile">
                <img src="~/images/transvis.jpg">
            </div>

            <div class="info">
                <h1 class="name">Matrix Transform Visualizer (2020)</h1>

                Проект предназначен для визуализации различных матричных
                преобразований. Таких, как параллельный перенос, поворот и т.д.
                Написан с использованием OpenGL C++.

                <div class="contacts">
                    <div class="contact">
                        <a href="https://github.com/nobodysays/Matrix-Transform-Visualizer">
                            <img src="~/icons/githubround.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>