<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Портфолио</title>
    <link rel="stylesheet" type="text/css" href="~/css/index.css">
</head>

<body>
    @RenderBody()
    <script src="js/scripts.js"></script>
</body>
</html>
